<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
       <table>
           <td>
                <button routerLink="/getCustomer">get customer</button>
           </td>
           <td>
               <button routerLink="/createCustomer">create customer</button>
           </td>
           <td>
               <button routerLink="/deleteCustomer">delete customer</button>
           </td>
           <td>
               <button routerLink="/getAllCustomers">get all customers</button>
           </td>
           <td>
               <button routerLink="/updateCustomer">update</button>
           </td>
       </table>
    <router-outlet></router-outlet>
</body>
</html>
